In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
os.getcwd()

'/home/dani94/Data_mortalidad/mortalidad-hospital-erasmo'

In [3]:
os.chdir('/home/dani94/Data_mortalidad/mortalidad-hospital-erasmo/dataset')

In [4]:
data = pd.read_csv('clean_mortalidad_historico.csv')

In [5]:
data['FECHA'] = pd.to_datetime(data['FECHA'])

data['DIA'] = data['FECHA'].dt.day 
data['MES'] = data['FECHA'].dt.month

In [6]:
data.head()

,FECHA,DIAGNOSTICO,FECHA NACIO,SEXO,año,SERVICIO_NEONATOLOGIA,SERVICIO_PEDIATRIA MEDICA,SERVICIO_RECUPERACION,SERVICIO_SALA DE PARTOS,SERVICIO_UCIN,SERVICIO_UNIDAD DE CUIDADO INTERMEDIO,SERVIVIO_PISO_5_12,SERVICIO_URGENCIA ADULTO,SERVICIOS_URGENCIA PEDIATRIA,edad,DIA,MES
0,2018-08-30 10:22:16,DIARREA Y GASTROENTERITIS DE PRESUNTO ORIGEN I...,2017-11-05 12:00:00,0,2018,False,False,False,False,False,False,False,False,True,0,30,8
1,2018-10-07 07:59:50,DIARREA Y GASTROENTERITIS DE PRESUNTO ORIGEN I...,1989-06-09 12:00:00,1,2018,False,False,False,False,False,False,False,True,False,29,7,10
2,2018-06-20 02:59:47,DIARREA Y GASTROENTERITIS DE PRESUNTO ORIGEN I...,1938-05-23 12:00:00,1,2018,False,False,False,False,False,False,False,True,False,80,20,6
3,2018-04-05 05:23:01,DIARREA Y GASTROENTERITIS DE PRESUNTO ORIGEN I...,2017-08-01 12:00:00,1,2018,False,False,False,False,False,False,False,False,True,0,5,4
4,2018-11-10 04:35:50,"TUBERCULOSIS DEL PULMON, CONFIRMADA POR HALLAZ...",1982-02-02 12:00:00,0,2018,False,False,False,False,False,False,False,True,False,36,10,11

In [7]:
data_spv = data.copy()

for i, column in enumerate(list([str(d) for d in data_spv.dtypes])):
    if column == 'object':
        data_spv[data_spv.columns[i]] = data_spv[data_spv.columns[i]].fillna(data_spv[data_spv.columns[i]].mode())
        data_spv[data_spv.columns[i]] = data_spv[data_spv.columns[i]].astype("category").cat.codes
    else:
        data_spv[data_spv.columns[i]] = data_spv[data_spv.columns[i]].fillna(data_spv[data_spv.columns[i]].median())

In [8]:
data_spv.head(-5)

,FECHA,DIAGNOSTICO,FECHA NACIO,SEXO,año,SERVICIO_NEONATOLOGIA,SERVICIO_PEDIATRIA MEDICA,SERVICIO_RECUPERACION,SERVICIO_SALA DE PARTOS,SERVICIO_UCIN,SERVICIO_UNIDAD DE CUIDADO INTERMEDIO,SERVIVIO_PISO_5_12,SERVICIO_URGENCIA ADULTO,SERVICIOS_URGENCIA PEDIATRIA,edad,DIA,MES
0,2018-08-30 10:22:16,153,5083,0,2018,False,False,False,False,False,False,False,False,True,0,30,8
1,2018-10-07 07:59:50,153,4651,1,2018,False,False,False,False,False,False,False,True,False,29,7,10
2,2018-06-20 02:59:47,153,875,1,2018,False,False,False,False,False,False,False,True,False,80,20,6
3,2018-04-05 05:23:01,153,5078,1,2018,False,False,False,False,False,False,False,False,True,0,5,4
4,2018-11-10 04:35:50,661,4415,0,2018,False,False,False,False,False,False,False,True,False,36,10,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6526,2022-01-01 11:50:00,112,178,0,2022,False,False,False,False,False,False,False,True,False,92,1,1
6527,2022-03-02 05:59:27,112,562,1,2022,False,False,False,False,False,False,False,True,False,86,2,3
6528,2022-02-09 09:16:25,112,879,1,2022,False,False,False,False,False,False,False,True,False,83,9,2
6529,2022-09-13 08:31:12,161,4868,1,2022,False,False,False,False,False,False,False,True,False,26,13,9
6530,2022-06-16 05:27:10,163,4198,0,2022,False,False,False,False,False,False,False,True,False,45,16,6

In [9]:
data_spv['FECHA'] = data_spv['FECHA'].astype(int)

## Aprendizaje supervisado random forest

In [10]:

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [11]:
y = data_spv.pop('edad')
X = data_spv.copy()

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [15]:
clf = RandomForestRegressor(n_estimators=1000, max_depth=4)

In [16]:
clf.fit(X_train, y_train)

RandomForestRegressor(max_depth=4, n_estimators=1000)

In [17]:
from sklearn.metrics import r2_score

In [18]:
r2_score(y_test, clf.predict(X_test))

0.9935097867561734

In [19]:
from sklearn.metrics import mean_squared_error


mse = mean_squared_error(y_test, clf.predict(X_test))

In [20]:
mse

3.1958273978589444